* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #05061e;
    /*background-color: #080808;*/
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo-header {
    font-size: 30px;
}

.logo-header span {
    color: #00a2ff;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #00a2ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 300px;
    font-size: 30px;
    text-align: center;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #00a2ff;
}

.design {
    margin: 0;
    display: grid;
    place-items: center;
    margin-top: 250px;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 400px;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(0, 123, 255);
    border-radius: 100%;
    animation: animate3 10s linear infinite;
}

.mini-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 0px;
    border-radius: 100%;
}

@keyframes animate3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring i:nth-child(4) {
    border-radius: 49% 34% 56% 59% / 38% 32% 63% 27%;
    animation: animate2 15s linear infinite;
}

.ring i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*-------------About------------*/
#about {
    margin-top: 100px;
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    line-height: 1.5;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.sub-title p {
    line-height: 1.6;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #00a2ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #00a2ff;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*-------------services-------------------*/
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div p {
    font-size: 15px;
}

.services-list div:hover {
    background-color: #00a2ff;
    transform: translateY(-10px);
}

/*-------------Portfolio------------*/
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.work {
    border: 4px solid #00a2ff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 180px;
}

.work img {
    width: 100%;
    height: 180px;
    display: block;
    transition: transform 0.5s;
    object-fit: contain;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00a2ff);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #00a2ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-images {
    height: 450px;
}

/*-------------Contact------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    font-size: 60px;
    padding: 10px 10%;
}

.contact-container {
    padding: 10px 10%;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 110%;
    border-radius: 10px;
    padding: 30px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), #00a2ff);
}


.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact p {
    margin-top: 30px;
}

.contact h2 {
    margin-top: 20px;
    text-align: center;
}

.contact p i {
    color: #00a2ff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #00a2ff;
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00a2ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #00a2ff;
    transition: background 0.5s;
}

.btn:hover {
    background-color: #00a2ff
}

.button-container {
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    border: 1.5px solid #00a2ff;
    outline: none;
    background-color: transparent;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    resize: none;
}

.form-group label {
    font-weight: bold;
    display: block;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

form .btn2:hover {
    background-color: #2baef9;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}

nav .fa-solid {
    display: none;
}

/*-------------css for small screens------------*/
@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: #00a2ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-form,
    .contact {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    .work {
        margin-top: 20px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}